*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.block3{
    width: 400px;
    height: 69vh;
}


.friends_rec{
    height: 60%;
}


#groupbox a{
    text-decoration: none;
    color: black;
    padding: 12px 30px;
    color: #003262;
}

#selected{
    background-color: #EDEDFC;
}
#groupbox{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;
    margin: 15px;
}


.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
}

.buttons a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 12px 30px;
    color: #003262;
}
a p{
    margin-left: 10px;
    color: #b0b0bb;
}


.groups{
    display: flex;

}

.buttons input{
    background-color: #5073a7;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.buttons input:hover{
    background-color: #395379;
}

.friendsbox{
    padding: 15px 0;
    height: fit-content;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
}

.friends_search{
    display: flex;
    flex-direction: column;
    
}


.searchbox{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid;
    border-top: solid;
    border-width: 0.5px;
    border-color: #a5a2a24e;
}

.searchbox img{

    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.searchbox input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 800px;
}



.friendslist{
    width: 100%;
}

.friend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid;
    border-width: 0.5px;
    border-color: #a5a2a24e;
}

.friend .avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width : 100px;
    overflow: hidden;
    height: 100px;

    margin-right: 20px;
}

.friend .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    display: flex;
}

.friend .textinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info #name{
    font-size: 20px;
    color: #0959bb;
}

#chat{
    display: flex;
    text-decoration: none;
    color: black;
    color: #003262;
}


.options{
    font-size: 30px;
    height: 100px;
    display: flex;
    align-items:flex-start;
}


.friends_rec{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;

    height: fit-content;
}  

.friends_rec #title{
    margin-bottom: 20px;
}

.friend_rec .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friend_rec{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

#add_friend{
    font-size: 12px;
    text-decoration: none;
    color: black;
    color: #003262;
}


.friend_rec #name{
    margin-bottom: 0;
    font-size: 18px;
    text-align: left;
}

.friend_rec .textinfo{
    display: flex;
    height: 75px;
    flex-direction: column;
    justify-content: space-between;
}







